
{% extends "layout.html" %}
{% block body %}
    {% if message %}
	<p style="color: red" class="text-center">{{ message}}</p>
	{% endif %}
    <div class="container text-center" style="margin-top: 75px">
    <div class="col-xl-">
            <div class="vertical-center">
                <div class="container">
                    <h1 class="display-2"><b>Welcome to YUM Pizzas</b></h1>
                    <h1 class="display-4"><i>Get ready to indulge in the true flavors of your favorite pizzas..!!</i></h1>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <p class="lead">If you wish to place an order, simply log in/register to our site and choose from the menu</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}